{% extends "base.html" %}

{# Номер лабороторной работы: #}
{% block lab %}Лабораторная 2{% endblock %}

{# Основной контент #}
{% block main %}
        <h1>Добавлен новый цветок</h1>
        <p>Название нового цветка: {{ name }}</p>
        <p>Всего цветов: {{ len_flower }}</p>
        <p>Полный список: </p>
        <ol type="1">
                {% for f in flower_list %}  
                <li>Название: {{ f['name'] }}. Цена: {{ f['price'] }} &#8381 </li>  
                {% endfor %}
        </ol>
{% endblock %}