{% extends "base.html" %}

{# Номер лабороторной работы: #}
{% block lab %}Лабораторная 2{% endblock %}

{# Основной контент #}
{% block main %}
    <h1>Шаблоны</h1>
    <div> Тема лабороторной - шаблоны. Список сделанных страниц:</div>

    <ol>
        <li><a href="/lab2/example">example</a></li>
        <li><a href="/lab2/flowers">flowers</a></li>
        <li><a href="/lab2/flowers/1">flowers/1</a></li>
        <li><a href="/lab2/clear_flowers">clear_flowers</a></li>
        <li><a href="/lab2/add_flower/">add_flowers</a></li>
        <li><a href="/lab2/filters/">filters</a></li>
        <li><a href="/lab2/calc/">calc</a></li>
        <li><a href="/lab2/books/">books</a></li>
        <li><a href="/lab2/cars/">cars</a></li>
    </ol>
{% endblock %}