{% extends "base.html" %}

{# Номер лабороторной работы: #}
{% block lab %}Лабораторная работа 5{% endblock %}

{# Основной контент #}
{% block main %}
   <h1>Редактирование статьи</h1>
   <form method="post">
      <div>
         <label for="title">
            Название статьи:
            <input type="text" name="title" id="title" value="{{ article['title'] or ''}}" maxlength="50"><br>
         </label>
         {% if errors %}<span style="color:red"><b>{{ errors.title }}</b></span> {% endif %}
      </div>
      <div>
         <textarea cols=50 name="article_text">{{ article['article_text'] or '' }}</textarea><br>
         {% if errors %}<span style="color:red"><b>{{ errors.article_text }}</b></span> {% endif %}
      <div>
         <span style="color:red">{{error}}</span>
      </div>
      <div>
         <button type="submit">Готово</button>
      </div>
   </form>
{% endblock %}