{% extends "base.html" %}

{# Номер лабороторной работы: #}
{% block lab %}Лабораторная работа 5{% endblock %}

{# Основной контент #}
{% block main %}
   <h1>Регистрация</h1>
   <h2>Пожалуйста заполните все поля!</h2>
   <form method="post">
      <div>
         <label for="login">Логин:</label>
         <input type="text" name="login" id="login" value="{{ login or ''}}"><br>
         {% if errors %}<span style="color:red"><b>{{ errors.login }}</b></span> {% endif %}
      </div>
      <div>
         <label for="password">Пароль:</label>
         <input type="password" name="password" id="password" value="{{ password or ''}}"><br>
         {% if errors%}<span style="color:red"><b>{{ errors.password }}</b></span> {% endif %}
      <div>
         <span style="color:red">{{error}}</span>
      </div>
      <div>
         <button type="submit">Зарегестрироваться</button>
         <button type="reset">Отмена</button>
      </div>
   </form>
{% endblock %}