<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Кимосов Дмитрий. {% block lab %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static', filename='favicon-16x16.png')}}">
    <link rel='icon' href="{{url_for('static', filename='favicon-32x32.png')}}">
    <style>
        body {
            {% if request.cookies.get('color_t') %}
            color: {{ request.cookies.get('color_t') }};
            {% endif %}
            {% if request.cookies.get('color_b') %}
            background-color: {{ request.cookies.get('color_b') }};
            {% endif %}
            {% if request.cookies.get('font_s') %}
            font-size: {{ request.cookies.get('font_s') }}px
            {% endif %}
        }
    </style>
    {% block js %} {% endblock %}
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}. <a href="/">Главное меню</a>
        <hr>
    </header>
    <main>
        <div class="main_div">
            {% block main %} {% endblock %}
        </div>
    </main>
    <footer>
        <hr>
        &copy; Кимосов Дмитрий, ФБИ-21, 3 курс, 2023
    </footer>
</body>
</html>