{% extends "base.html" %}

{# Номер лабороторной работы: #}
{% block lab %}НГТУ, ФБ, WEB-программирование, часть 2. Список лабораторных{% endblock %}

{# Основной контент #}
{% block main %}
        <h1>Список сделанных лабораторных:</h1>
        <p><a href='/lab1'>Лабораторная работа 1</a></p>
        <p><a href='/lab2'>Лабораторная работа 2</a></p>
        <p><a href='/lab3'>Лабораторная работа 3</a></p>
        <p><a href='/lab4'>Лабораторная работа 4</a></p>
        <p><a href='/lab5'>Лабораторная работа 5</a></p>
        <p><a href='/lab6'>Лабораторная работа 6</a></p>
        <p><a href='/lab7'>Лабораторная работа 7</a></p>
        <p><a href='/lab8'>Лабораторная работа 8</a></p>
{% endblock %}