{% extends "base.html" %}

{# Номер лабороторной работы: #}
{% block lab %}Лабораторная работа 7{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='lab7/main.js') }}"></script>
{% endblock %}
{# Основной контент #}
{% block main %}
    <h1>Список фильмов:</h1>
    <div>
        <table style="display: inline-block;">
            <thead>
                <tr>
                    <th colspan="2">Название</th>
                    <th>Год</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody id="film-list">
            </tbody>
        </table>
    </div>
    <script>
        fillFilmList();
    </script>
    <div>
        <button onclick="addFilm()">Добавить фильм</button>
    </div>
{% endblock %}